header {
  max-width: 100vw;
}
nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 1px solid var(--dark-grey);
  margin-bottom: 1rem;
}

.logo,
.logo:visited {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-grey);
}
.logo img {
  height: 40px;
}
.small {
  font-size: 0.75rem;
}
.logo img:hover {
  color: black;
}

nav ul {
  display: none;
  list-style-type: none;
  flex-direction: column;
  background-color: var(--dark-grey);
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: flex;
  flex: 1;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: var(--white);
}
nav ul li a:hover {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.closeButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
}

.menuButton {
  display: inline;
}

/* menu open section */
header.open nav {
  padding: 0;
}
header.open nav .logo {
  display: none;
}
header.open nav .menuButton {
  display: none;
}
header.open nav ul {
  display: flex;
  flex: 1;
  width: 100vw;
}

@media (min-width: 1024px) {
  header nav {
    padding-bottom: 0;
  }
  .logo {
    font-size: 1.5rem;
    .small {
      font-size: 1rem;
    }
  }

  header nav.menuButton {
    display: none;
  }
  header nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    background-color: var(--white);
  }
  header nav ul li a {
    padding: 1rem;
    text-decoration: none;
    color: var(--dark-grey);
  }
  header nav ul li a:last-of-type {
    margin-right: 0;
  }
  header nav ul li a :hover,
  header nav ul li a .active {
    background-color: var(--dark-grey);
    color: var(--white);
  }
  .closeButton {
    display: none;
  }
}
